body {
    font-family: "Open Sans";
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    padding-top: 10px;
    height: 100%;
    flex: 1 0 auto;
}

#page_title {
    font-size: large;
    margin-left: 15px;
}

#footer_heart {
    color: red;
}

#map {
    position: relative;
    width: 100%;
    height: 90%;
    /* padding: 15px; */
    /* width: 100%; */
    /* height: 100vh; */
}

#map_card {
    height: 95vh;
}

#squirrel_select_field {
    border-style: dashed;
    border-color: blue;
    background: blue;
}


#github_link {
    float: right;
    color: white;
}

#github_link:hover {
    color: black;
}

/* Color of dropdown menu text */
ul.dropdown-content.select-dropdown li span {
    color: #558b2f;
}

/*
#map_section {
    background-color: greenyellow;
}

#display_section {
    background-color: yellow;
}

#main {
    background-color: blue;
} */